table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    background-color: #f1f1f1;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

#moduleSelect {
    margin-bottom: 10px;
    padding: 8px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    width: 100%;
    font-size: 16px;
}

#moduleSelect option {
    background-color: #f1f1f1;
    color: black;
}

.container {
    width: 80%;
    margin: 20px auto;
}



.deleteBtn {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.downloadBtn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}